body{
			background-color: #FFA833;
			font-family: sans-serif;
		}
		.container{
			width: 400px;
			height: 365px;
			position: fixed;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			background-color: #eee;
			box-shadow: 3px 3px #888888;
		}
		h2{
			text-align: center;

		}
		input{
			height: 35px;
		}
		form input{
			width: 90%;
			margin-left: 5%;
			overflow: hidden;
			box-sizing: border-box;
		}
		form p{
			margin-left: 5%;
		}
		form select{
			width: 70px;
			height: 25px;
		}
		input.button{
			width: 200px;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			margin-left: -10px;
			cursor: pointer;
		}
		form input[type=text], input[type=number]{
			padding-left: 5%;
			border: none;
		}
		#result{
			margin-top: 15px;
		}
