.container{
	background-color:rgb(230, 255, 204);

}
#title{
	font-family: sans-serif;
	font-weight:600;
	display: block;
	text-align:center;
	margin: 20px auto 20px auto;

}
#description{
	font-family: sans-serif;
	display: block;
	text-align:center;
	margin: 20px auto 20px auto;
}
#survey-form{
	max-width:8in;
	margin-left:auto;
	margin-right:auto;
}
.field-box{
	background-color: white;
	font-family: sans-serif;
	padding: 10px;
	display:block;
}
.input-box{
	margin-top:10px;
	margin-bottom:6px;
	width:100%;
	display:block;
}